My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "CrowdWisdom",
        "formDescription": "This workflow required your intrest/need and perform a real time avatar to assist .",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Knowlwdge",
              "fieldType": "textarea",
              "placeholder": "text the avatar will use to answer",
              "requiredField": true
            },
            {
              "fieldLabel": "Add a Avatar Image...",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".jpg,.png",
              "requiredField": true
            },
            {
              "fieldLabel": "Language",
              "placeholder": "Please list the languages to use...",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        4896,
        1552
      ],
      "id": "d198e68d-b0ae-415c-9500-63312822183a",
      "name": "On form submission",
      "webhookId": "aac1ddc2-bbc0-41eb-8d9e-bb2f971b9267",
      "retryOnFail": false,
      "notesInFlow": true,
      "notes": "The form failed to load. Please try again later."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.heygen.com/v1/asset",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "Add a Avatar Image..."
            },
            {
              "name": "model",
              "value": "default"
            },
            {
              "name": "token",
              "value": "b988a0f8-d12a-11f0-a99e-066a7fa2e369"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5120,
        1552
      ],
      "id": "4ab18dc4-a2b6-4306-b315-cbc109d1b14b",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "levUUoaAVNcslIgK",
          "name": "Heygen Auth"
        },
        "httpBearerAuth": {
          "id": "ToeMYojgDsPrSYPh",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/avatars",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"LeadGenAvatar\",\n  \"image_id\": \"{{ $('HTTP Request').item.json.image_id }}\",\n  \"voice\": \"en-US-1\",\n  \"knowledge\": \"{{ $('On form submission').item.json.Knowlwdge }}\",\n  \"language\": \"{{ $('On form submission').item.json.Language }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5344,
        1552
      ],
      "id": "47ba0fcb-b88c-4169-961f-47f7d65ea345",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "levUUoaAVNcslIgK",
          "name": "Heygen Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/realtime.start",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"avatar_id\": \"{{ $('HTTP Request1').item.json.avatar_id }}\",\n  \"audio_output_enabled\": true,\n  \"video_output_enabled\": true,\n  \"webhook_url\": \"https://automate-123.app.n8n.cloud/webhook/740629fd-4422-4d20-99e0-2ac8cc3d7f2f\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5568,
        1552
      ],
      "id": "828304ed-53a5-40b5-a922-bfb291a6e28e",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "levUUoaAVNcslIgK",
          "name": "Heygen Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "=<!DOCTYPE html>\n<html>\n  <body style=\"font-family:Arial;\">\n    <h2>AI Avatar Assistant</h2>\n    <video id=\"video\" autoplay playsinline style=\"width:400px;\"></video>\n\n    <script src=\"https://unpkg.com/livekit-client/dist/livekit-client.min.js\"></script>\n    <script>\n      const room = new LivekitClient.Room();\n      room.connect(\"={{ $('HTTP Request2').item.json.webrtc_url }}\", \"={{ $('HTTP Request2').item.json.session_token }}\");\n      room.on('trackSubscribed', (track, publication, participant) => {\n        if (track.kind === 'video') {\n          const video = document.getElementById('video');\n          track.attach(video);\n        }\n      });\n    </script>\n  </body>\n</html>"
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        5792,
        1552
      ],
      "id": "d98e8e69-820c-4da4-adb9-a136c3be3614",
      "name": "Form",
      "webhookId": "d0bc6844-151a-4601-8596-92dee2eea17b"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "transcript",
        "options": {}
      },
      "id": "38ebb174-7cf8-4385-9188-9b0b5e36c6d9",
      "name": "Transcript Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        4896,
        1880
      ],
      "webhookId": "740629fd-4422-4d20-99e0-2ac8cc3d7f2f"
    },
    {
      "parameters": {
        "text": "={{ $json.body.transcript }}",
        "attributes": {
          "attributes": [
            {
              "name": "clientName",
              "description": "The name of the client",
              "required": true
            },
            {
              "name": "phoneNumber",
              "description": "The phone number of the client",
              "required": true
            },
            {
              "name": "needs",
              "description": "The needs or requirements expressed by the client",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "id": "3820cb05-5302-465d-a141-1509c9b73fe2",
      "name": "Extract Lead Data",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        5120,
        1880
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "e5976553-cc06-4ba0-8770-292656325670",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        5192,
        2104
      ],
      "credentials": {
        "openAiApi": {
          "id": "8Y2skYh9faknt38z",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ftRYOFvO02Ymq_MC1qp56kR3tYac8h1v2iOKI9-93ss",
          "mode": "list",
          "cachedResultName": "n8n workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ftRYOFvO02Ymq_MC1qp56kR3tYac8h1v2iOKI9-93ss/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Lead Data"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9cfb7d61-ca4a-4101-b20f-45add2eaac1d",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5696,
        1880
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1hJ8pVtmKiXm9ac5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get webhook data from Transcript Webhook node\nconst webhookData = $('Transcript Webhook').item.json;\n\n// Get extracted lead data from Extract Lead Data node\nconst leadData = $('Extract Lead Data').item.json;\n\n// Calculate session duration in minutes from webhook body\n// Assuming webhook body contains start_time and end_time in seconds or milliseconds\nconst sessionDuration = webhookData.body?.duration || 0; // duration in seconds\nconst minutesUsed = Math.ceil(sessionDuration / 60); // convert to minutes and round up\n\n// Calculate credit cost (1 credit per minute)\nconst creditCost = minutesUsed * 1;\n\n// Add timestamp\nconst timestamp = new Date().toISOString();\n\n// Return combined object with all required fields\nreturn {\n  clientName: leadData.clientName || '',\n  phoneNumber: leadData.phoneNumber || '',\n  needs: leadData.needs || '',\n  minutesUsed: minutesUsed,\n  creditCost: creditCost,\n  timestamp: timestamp\n};"
      },
      "id": "f7946d9d-3062-45ae-9685-7eadebde48bb",
      "name": "Calculate Usage Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5472,
        1880
      ]
    },
    {
      "parameters": {
        "labelsUi": {
          "labelsValues": [
            {
              "label": "Minutes Used"
            },
            {
              "label": "Credit Cost"
            }
          ]
        },
        "data": "={{ [$('Calculate Usage Report').item.json.minutesUsed, $('Calculate Usage Report').item.json.creditCost] }}",
        "chartOptions": {
          "height": 300,
          "width": 500
        },
        "datasetOptions": {
          "label": "Usage Report"
        }
      },
      "id": "887a4608-80d8-46ec-bd03-98fe35edbcff",
      "name": "Generate Usage Report Chart",
      "type": "n8n-nodes-base.quickChart",
      "typeVersion": 1,
      "position": [
        5920,
        1880
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcript Webhook": {
      "main": [
        [
          {
            "node": "Extract Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Lead Data",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract Lead Data": {
      "main": [
        [
          {
            "node": "Calculate Usage Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Usage Report": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets": {
      "main": [
        [
          {
            "node": "Generate Usage Report Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "237b190f-6c12-4265-9477-f3abccde689c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "034f578e64409fa817a00da8410481fc8d58364d8e689ddbf80e2c611930931b"
  },
  "id": "L7N1B4m39kAYUNkd",
  "tags": []
}